body {
    background-color:lightblue;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

p{
    color: black;
}

/* Main/Parent container */
#main {
    width: 50%;
    height: auto;
    background: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 1rem;
    box-shadow: 0 12px 16px 0 black, 0 17px 50px 0 black;
}

#heading {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 2.5rem;
    color:red;
    margin: 10px;
}

/* Task Decription */
#description-container {
    width: auto;
    border-radius: 1rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
    padding-bottom: 12px;
}

#description-container p, #due-date-container p, #category-container p {
    display: inline;
    font-size: 1rem;
    font-family: Georgia, serif;
}

#description-container p {
    padding-left: 2px;
    padding-bottom: 5px;
}


#form-description {
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: 0.9rem;
    opacity: 0.4;
    font-family: Georgia, serif;
}

/* Category and Date container */
.category-date-container {
    display: flex;
    border-radius: 2rem;
}

#category-heading {
    padding-bottom: 5px;
    color: gray;
}

#choose-category {
    font-weight: bold;
}

/* Dropdown*/
select {
    width: 100%;
    background-color: transparent;
    font-size: 0.9rem;
    opacity: 0.6;
    font-family: Georgia, serif;
    
}

#category-container {
    border-radius: 1rem;
    border-right: 1px solid white;
    width: 50%;
    padding: 10px;
}

#due-date-container {
    width: 50%;
    padding-left: 10px;
    padding: 10px;
    border-radius: 1rem;
}

#date-input-box {
    width: 75%;
    border: 0;
    font-size: 0.9rem;
    opacity: 0.6;
    font-family: Georgia, serif;
}

.buttons-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Add Button */
.add-button {
    background-color: darkgray;
    color: white;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    padding: 14px;
    margin-right: 25px;
}

/* Delete Button */
.delete-button {
    background-color: darkred;
    color: white;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    margin-right: 3px;
}

/* Button's Hover */
.add-button:hover {
    background: black;
}

.delete-button:hover {
    background: red;
}

/*****Task-List*****/
#task
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*FOR EVEN NUMBERED OF TASK LIST */
#task:nth-child(2n) {
    background: white;
}

/* FOR ODD NUMBERED OF TASK LIST */
#task:nth-child(2n+1) {
    background: white;
}

/*hover effects */
#task:hover, .category-date-container:hover, #description-container:hover {
    background-color: white;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*** Flex box***/
#task {
    flex: 0 0 50px;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 15px;
}

/* CATEGORY BOX*/
#task-category {
    background-color: goldenrod;
    color: aliceblue;
    height: 18px;
    width: 70px;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;    
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Task Description */
#task-description {
    color: black;
    font-size: 1.2rem;
    text-align: left;
}

/* Task Due Date*/
#task-date {
    color: gray;
    font-size: 0.8rem;
    text-align: left;
}

/* Checkbox */
#check-box {
    outline: 2px dashed #525252;
    color: blueviolet;
    margin-top: 10px;
}


/* Cross/Remove Icon */
#remove-task-icon {
    font-size: 1.3rem;
    padding: 10px;
    width: 5%;
}

#remove-task-icon a {
    color: red;
}

.linethrough
{
    text-decoration:line-through;
}

#task-checkbox{
    width: 0%;
}

.task-container{
    width: 45%;
    overflow:hidden;
}

.task-category-div{
    width: 20%;
}