body {
    background-color: lightblue;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

p{
    color: royalblue;
}

#main {
    width: 50%;
    height: auto;
    background: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 2rem;
}

/* Heading*/
#heading {
    text-align: center;
    font-family: serif;
    font-size: 3rem;
    color: black;
    margin: 0;
    margin: 10px;
}


/**** Form to create task *****/
/* Task Decription */
#description-container {
    width: auto;
    border-radius: 1rem;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px;
    padding-bottom: 12px;
}

#description-container p, #due-date-container p, #category-container p {
    display: inline;
    font-size: 1rem;
    font-family: Georgia, serif;
}

#description-container p {
    padding-left: 2px;
    padding-bottom: 5px;
}

#form-description {
    
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: Georgia, serif;
}

/* Category and Date container of form */
#category-heading {
    padding-bottom: 5px;
}


#choose-category {
    font-weight: bold;
}

/* Dropdown menu: */
select {
    width: 100%;
    border: 0;
    color: black;
    background-color: transparent;
    font-size: 1rem;
    opacity: 0.6;
    font-family: Cambria, serif;
}

#category-container {
    border-right: 1px solid #d7d7d7;
    width: 50%;
    padding: 10px;
}

.category-date-container {
    display: flex;
}

#date-input-box {
    width: 75%;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    opacity: 0.6;
    font-family: Cambria, serif;
}

#due-date-container {
    width: 50%;
    padding-left: 10px;
    padding: 10px;
}

/**** Buttons****/
.buttons-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

/* Add Button */
.add-button {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    padding: 14px;
    margin-right: 25px;
}

/* Delete Button */
.delete-button {
    background-color: red;
    color: white;
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    margin-right: 3px;
}




/***** Task List *****/
#task
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*EVEN NUMBERED OF TAKS LIST */
#task:nth-child(2n) {
    background: #fbfbfb;
}

/* ODD NUMBERED OF TAKS LIST */
#task:nth-child(2n+1) {
    background: #f7f7f7;
}

#task:hover, .category-date-container:hover, #description-container:hover {
    background-color: #e1e1e1;
}

/* all tasks */ 
.show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#task {
    flex: 0 0 50px;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding-bottom: 10px;
    padding-top: 15px;
}

#task-category {
    background-color: #f1a500;
    color: aliceblue;
    height: 18px;
    width: 70px;
    padding: 10px;
    font-size: 0.8rem;
    text-align: center;    
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Task Description */
#task-description {
    color: #565656;
    font-size: 1.1rem;
}

/* Task Due Date */
#task-date {
    color: rgb(157, 159, 160);
    font-size: 0.8rem;
}

/* Checkbox */
#check-box {
    outline: 2px solid #525252;
    color: blueviolet;
    margin-top: 10px;
}


/* Cross Icon to delete individual task */
#remove-task-icon {
    font-size: 1.3rem;
    padding: 10px;
    width: 5%;
}

#remove-task-icon a {
    color: red;
}

 /* Make text line-through*/
.linethrough
{
    text-decoration:line-through;
}

#task-checkbox{
    width: 0%;
}

.task-container{
    width: 45%;
    overflow:hidden;
}

.task-category-div{
    width: 20%;
}